* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
  font-family: monospace;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.7rem;
  margin-bottom: 2rem;
}

#canvas {
  display: block;
  background-color: black;
}

.buttons-container {
  margin-top: 1rem;
  display: flex;
  column-gap: 1rem;
  font-size: 1rem;
}
button {
  all: unset;
  background-color: white;
  border-radius: 30px;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 5rem;
  text-align: center;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 3px 5px;
  white-space: nowrap;
}
